/*
 * 全局样式
 */

@import './mixin/base.less';
@import './mixin/image.less';
@font-face {
    font-family: -apple-system, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

html,
body,
.mui-input-row label {
    font-family: pingfang;
}

[v-cloak] {
    display: none
}