/*
 * @Author: chenghao 
 * @Date: 2018-12-10 14:40:33 
 * @Last Modified by: chenghao
 * @Last Modified time: 2018-12-10 14:47:24
 * @desc: 样式基础配置
 */

// 颜色配置
@footerNavColor: #f96e1d; // 底部导航active颜色
@mainColor: #fff; // 应用主色调
@mainBgColor: #f4f4f4; // 页面背景色
@extraColor: #b7b7b7; // 角落字体颜色，主要用于时间的颜色显示
@splitLineColor: #ccc; // 分割线颜色

// 字号配置
@fontsize16: 16px;
