/* 清除浮动 */
.f-clearfix {
  display: block;
  &:after {
    display: block;
    content: ".";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}
.overflow-dots {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.font-bold {
  font-weight: 700;
}
